/*Estilo página index.html*/
.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
    color: purple;

}

#menu li{
    display: inline;
    padding: 30px;
    text-decoration: none;

}

#menu li a{
    text-decoration: none;
    color: purple;
    font-size: 20px;
}

#menu li a:hover{
    color: darkviolet;
}

.p-30{
    padding: 30px;

}

.br-50{
    border-radius: 50px;

}







/*Estilo página contato.html*/