/*Estilo página index.html*/
html{
    font-size: 16px;
}

body {
    position: absolute;
    background-color: greenyellow;
    margin: 0;
}

.bg-image {
    background-image: url("../img/capa.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.perfil {
    position: absolute;
    top: 120px;
    left: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1; /* para que a foto de perfil fique sobre a imagem de fundo */
}

.perfil-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center {
    text-align: center;
}

.container-name {
    position: relative;
    width: 18%;
    height: 30px;
    color: purple;
  
}

.inner-name {
    position:relative;
    top: 17%;
    left: 350px;
    transform: translate(-50%, -50%);
    padding: 20px;
}

@media (max-width: 50px) {
    .container-name {
      height: 20px;
    }
}

.container {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: purple;
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.button {
    background-color: purple;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
}
  
.button:hover {
    background-color: greenyellow;
    cursor: pointer;
    
}
  
#menu li {
    position: relative;
    left:5%;
    transform: translate(-50%, -50%);
    display: inline;
    padding: 4px;
}

a {
    text-decoration: none;
    color: purple;
    font-size: 20px;
    font-weight: bold; /* adicionando negrito */
    font-family: Arial, sans-serif;
}

.menu-link:hover {
    color: darkviolet;
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50px;
}


/* Estilo página contato.html */

html{
    font-size: 16px;
    padding: 1%;
}

body {
    background-color: greenyellow;
    padding: 1%;
    margin-left: 0,5%;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 2em 0;
}

.link-github:hover, .link-linkedin:hover {
    color: darkviolet;
}

p.container {
    text-align: center;
    margin: 2em 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 1em;
}

.linkedin-container:hover .link-linkedin img {
    transform: scale(1.2);
}

.github-container:hover .link-github img {
    transform: scale(1.2);
}

.btn-home {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #B3B3B3;
    color: white;
    border: 2px solid #B3B3B3;
    border-radius: 5px;
    font-size: 1em;
    transition: all 0.3s ease;
}
  
.btn-home:hover {
    background-color: #5c5c5c;
    cursor: pointer;
    border-color: #5c5c5c;
}

.btn-contato {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #B3B3B3;
    color: white;
    border: 2px solid #B3B3B3;
    border-radius: 5px;
    font-size: 1em;
    transition: all 0.3s ease;
}
  
.btn-contato:hover {
    background-color: #5c5c5c;
    cursor: pointer;
    border-color: #5c5c5c;
}

iframe {
    margin-top: 2em;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
  
.linkedin-icon, .github-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    background-color: silver;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}
  
.linkedin-icon:hover, .github-icon:hover {
    background-color: purple;
    cursor: pointer;
}
  
.linkedin-icon i, .github-icon i {
    color: white;
    font-size: 2em;
}

.btn-enviar:hover {
    background-color: #5c5c5c;
    cursor: pointer;
    border-color: #5c5c5c;
    
}
  






